{% extends 'layout.twig'%}


{% block content %}
	<a href="/">Home</a>
<form method="POST" action="">;
	<input type="text" name="user">;
	<input type="password" name ="pswd">;
	<input type="submit">;
</form>;
{% endblock %}