{% extends 'layout.twig' %}

{% import 'articles.twig' as art %}

{% block content %}


{% include	'header.twig'%}
{{ var }}

	<!--Partie principale, avec les dernières nouveautés et la wish-list-->

<!--Nouveaux stages-->
<section class="sect-div">
	<h5>Dernières offres de stage</h5>
	<div class="disp_offre">

		{{ art.article("nvloffre", '/', 'Stage PARIS',"Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X", "Gestion d'une BDD reliée à des API")}}

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage NANCY</h6>
			<p>Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X</p>
			<p>Gestion d'une BDD reliéeà des API. BLALALALALALANB AABfBBSDHALZFIHAIFHZIELFGAGBZV</p>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage METZ</h6>
			<p>Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X</p>
			<p>Gestion d'une BDD reliéeà des API</p>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage MARSEILLE</h6>
			<p>Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X</p>
			<p>Gestion d'une BDD reliéeà des API</p>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage STRASBOURG</h6>
			<p>Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X</p>
			<p>Gestion d'une BDD reliéeà des API</p>
		</article>

		<article class="d-flex justify-content-center align-items-center" onclick="window.location.href = 'connexion.html';">
			<i style="font-size: 3rem; color:grey; cursor:pointer;" class="fas fa-long-arrow-alt-right"></i>
		</article>
	</div>

</section>


<!--La WISH-LIST-->
<section class="sect-div">
	<hr class="phone" style="background:white">
	<h5>WISH-LIST <i class="far fa-bookmark float-right"></i></h5>
	<div id="wlist" class="disp_offre">
		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage NANCY</h6>
			<p>Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X</p>
			<p>Gestion d'une BDD reliéeà des API</p>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage REIMS</h6>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage VERDUN</h6>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage BREST</h6>
		</article>

		<article class="nvloffre" onclick="window.location.href = 'connexion.html';">
			<h6>Stage DIJON</h6>
		</article>
	</div>
</section>

{% endblock %}